.block {
  border: 4px solid black;
  box-sizing: border-box;
  height: 100px;
  width: 100px;
}

.line {
  display: flex;
}

.red {
  background-color: red;
}

.orange {
  background-color: orange;
}

.yellow {
  background-color: yellow;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.navy {
  background-color: navy;
}

.purple {
  background-color: purple;
}

.brown {
  background-color: brown;
}

.white {
  background-color: white;
}

.black {
  background-color: black;
}
.pink {
  background-color: pink;
}
.burlywood {
  background-color: burlywood;
}

.peachpuff {
  background-color: peachpuff;
}
.saddlebrown {
  background-color: saddlebrown;
}
/* . {
  background-color: ;
} */
